/* Give your page a fun background color */
body {
  background-color: #C0C0C0;
  color: #660099;
}
/* Make the header and footer a different color from the background */
header {
  background-color: #660099;
  color: gold;
  padding: 7px;
}

footer {
  background-color: #660099;
  padding: 7px;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
 font-style: italic;
 color: gold;
}
/* Put a border around your image */
img {
  border: 5px solid white;
  margin-top: 15px;
}
/* Change the font-family of your list */
ul {
  font-family: arial, helvetica, sans-serif;
}
